.modal {
  height: 500px;
}

.modalHeader {
  text-align: center;
}

.gridContainer{
  height: 300px;
}

.gridColumn{
  text-align: center;
  margin: 100px 0px 100px 0px;
}

.svg-icon-wrapper {
  margin: 0 auto;
  width: 100px;
}

.grid-column-border {
  border-left: 2px solid #d3d3d35c;
}
