.trip-details-wrapper {
    /*max-width: 400px;*/
    /*margin: 0 auto;*/
}

.wrapper-border {
    /*border: 1px solid lightgray;*/
    /*border-radius: 8px;*/
    /*padding: unset*/
}

.wrapper-details {
    margin: auto 0 !important;
    padding: 20px !important;
}

.wrapper-map {
    padding: unset !important;
}

.trip-summary-wrapper {
    margin-top: 40px;
    /*border: 1px solid lightgray;*/
}

.content-wrapper {
    /*margin-top: 60px;*/
    padding: 30px;
}
