.hero {
    background-image: url('./img/museum_dino.jpg');
    height: 780px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero p {
    font-size: 30px;
    font-weight: bold;
    width: 520px;
}

.hero-text-wrapper {
    position: absolute;
    top: 280px;
    left: 200px;
}

.landing-page-img-wrapper {
    max-width: 200px;
    margin: 0 auto;
}


