.login-container {
  margin: 6.5rem 0 0 0;
  width: 10px;
}

.login-signup {
  cursor: pointer;
  color: #1678c2;
}
.login-signup:hover {
  color: lightblue;
}

.googleLoginContainer{
  margin-top: 20px;
}

.googleRef{
  text-decoration: none;
  color: black;
}
